.root {
  width: 100%;
  margin-top: 10px;
  overflow-x: auto;
  margin: 0;

  .tableWrapper {
    max-height: 70vh;
    overflow-y: auto;

    .table {
      min-width: 650px;
  
      .tableHeading * {
        background: rgb(242, 242, 242);
      }

      .existingClient * {
        background: #ff771f;
        color: white;
      }
    }
  }
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  
  .button {
    margin-top: 10px;
    background: rgb(26, 188, 156);
    color: #fff;
  }
}

.progressContainer {
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
}