.root {
  width: 100%;
  margin-top: 10px;
  overflow-x: auto;
  margin: 0;

  .tableWrapper {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    border: 1px solid #999;
    border-radius: 5px;

    .table {
      width: 100%;
      height: 100%;
  
      .tableHeading * {
        background: rgb(242, 242, 242);
      }

      .existingClient * {
        background: #ff771f;
        color: white;
      }
    }
  }
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  
  .button {
    margin-top: 10px;
    background: rgb(26, 188, 156);
    color: #fff;
  }
}

.progressContainer {
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
}