.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 500;

  .container {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 100%;
      height: 150px;
      background: url(images/logo.png) no-repeat center;
    }

    .title {
      font-size: 20px;
      font-weight: 500;
      margin-top: 40px;
      text-shadow: 1px 0px 1px #000;
    }

    .textField {
      width: 100%;
      margin: 10px 0;
    }

    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .forgotPassword {
      color: #1abc9c;
      text-decoration: none;
    }

    .signUp {
      color: #1abc9c;
      text-decoration: none;
      margin-top: 20px;
    }
  }
}